@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  font-family: Verdana, sans-serif;
}

h1 {
  color: #fff;
  font-family: "Alfa Slab One", Veradana, sans-serif;
  font-size: 8rem;
  letter-spacing: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 2.5px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1339px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 4px;
  }
}

h2, .gulp-title, .docker-title, .grunt-title, .bootstrap-title, .sass-title {
  font-family: "Alfa Slab One", Veradana, sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.sass-title {
  color: #ff14c9;
}

.bootstrap-title {
  color: blue;
}

.grunt-title {
  color: #ff8a03;
}

.docker-title {
  color: #0078f5;
}

.gulp-title {
  color: #ff0d0d;
}

/* button https://codepen.io/kathykato/pen/rZRaNe */
/* Button https://codepen.io/kathykato/pen/rZRaNe */
body {
  margin: 0 !important;
}
body main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: scroll;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-height: 100vh;
}
body main section {
  padding: 4rem;
  scroll-snap-align: start !important;
  height: 100vh;
  text-align: justify;
}
body main section#home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 992px) {
  body main .flex, body main .flex-section, body main section#home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body main #home {
  background: #FFD59E;
}
body main .sass {
  background: #ffadec;
}
body main .bootstrap {
  background: #9999ff;
}
body main .grunt {
  background: #ffd19c;
}
body main .docker {
  background: #8fc6ff;
}
body main .gulp {
  background: #ffa6a6;
}
body main .flex-section {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 992px) {
  body main .flex-section > div {
    width: 50%;
  }
  body main .flex-section .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .flex-section img {
    width: 55%;
    max-height: 62vh;
  }
}
body .btn-sass {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}
body .btn-sass.learn-more {
  width: 12rem;
  height: auto;
}
body .btn-sass.learn-more .circle {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff14c9;
  border-radius: 1.625rem;
}
body .btn-sass.learn-more .circle .icon {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
}
body .btn-sass.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn-sass.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body .btn-sass.learn-more .button-text {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ff14c9;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn-sass:hover .circle {
  width: 100%;
}
body .btn-sass:hover .circle .icon.arrow {
  background: #FFFFFF;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
body .btn-sass:hover .button-text {
  color: #FFFFFF;
}
body .btn-bootstrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}
body .btn-bootstrap.learn-more {
  width: 12rem;
  height: auto;
}
body .btn-bootstrap.learn-more .circle {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: blue;
  border-radius: 1.625rem;
}
body .btn-bootstrap.learn-more .circle .icon {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
}
body .btn-bootstrap.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn-bootstrap.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body .btn-bootstrap.learn-more .button-text {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: blue;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn-bootstrap:hover .circle {
  width: 100%;
}
body .btn-bootstrap:hover .circle .icon.arrow {
  background: #FFFFFF;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
body .btn-bootstrap:hover .button-text {
  color: #FFFFFF;
}
body .btn-grunt {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}
body .btn-grunt.learn-more {
  width: 12rem;
  height: auto;
}
body .btn-grunt.learn-more .circle {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff8a03;
  border-radius: 1.625rem;
}
body .btn-grunt.learn-more .circle .icon {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
}
body .btn-grunt.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn-grunt.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body .btn-grunt.learn-more .button-text {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ff8a03;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn-grunt:hover .circle {
  width: 100%;
}
body .btn-grunt:hover .circle .icon.arrow {
  background: #FFFFFF;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
body .btn-grunt:hover .button-text {
  color: #FFFFFF;
}
body .btn-docker {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}
body .btn-docker.learn-more {
  width: 12rem;
  height: auto;
}
body .btn-docker.learn-more .circle {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0078f5;
  border-radius: 1.625rem;
}
body .btn-docker.learn-more .circle .icon {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
}
body .btn-docker.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn-docker.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body .btn-docker.learn-more .button-text {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #0078f5;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn-docker:hover .circle {
  width: 100%;
}
body .btn-docker:hover .circle .icon.arrow {
  background: #FFFFFF;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
body .btn-docker:hover .button-text {
  color: #FFFFFF;
}
body .btn-gulp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
  font-family: inherit;
}
body .btn-gulp.learn-more {
  width: 12rem;
  height: auto;
}
body .btn-gulp.learn-more .circle {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff0d0d;
  border-radius: 1.625rem;
}
body .btn-gulp.learn-more .circle .icon {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
}
body .btn-gulp.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
body .btn-gulp.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body .btn-gulp.learn-more .button-text {
  -webkit-transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.7s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ff0d0d;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
body .btn-gulp:hover .circle {
  width: 100%;
}
body .btn-gulp:hover .circle .icon.arrow {
  background: #FFFFFF;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
body .btn-gulp:hover .button-text {
  color: #FFFFFF;
}

nav .toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2;
}
nav .toggle a {
  text-decoration: none;
  color: #262626;
  font-size: 24px;
  cursor: pointer;
}
nav .menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .menu.active {
  left: 0;
  overflow: auto;
}
nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  padding: 10px;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
}
nav ul li a.home:hover {
  background: #FFD59E;
}
nav ul li a.sass:hover {
  background: #ffadec;
}
nav ul li a.bootstrap:hover {
  background: #9999ff;
}
nav ul li a.grunt:hover {
  background: #ffd19c;
}
nav ul li a.docker:hover {
  background: #8fc6ff;
}
nav ul li a.gulp:hover {
  background: #ffa6a6;
}

/*# sourceMappingURL=style.css.map */