$header-height: 5rem;
$background-color: #FFD59E;
$color-home: $background-color;
$color-sass: lightpink;
$color-bootstrap: lightpink;
$color-grunt: $background-color;
$color-docker: lightblue;
$color-gulp: lightgoldenrodyellow;
$h1: #fff;
$text: #fff;