$header-height: 5rem;
$background-color: #FFD59E;
$color-home: $background-color;
$color-sass: #ffadec;
$color-bootstrap: #9999ff;
$color-grunt: #ffd19c;
$color-docker: #8fc6ff;
$color-gulp: #ffa6a6;
$h1: #fff;
$text: #fff;