body {
  //background: $background-color;
  margin: 0 !important;

  main {
    @include scroll-snap(y, mandatory);

    section {
      padding: 4rem;
      scroll-snap-align: start !important;
      height: 100vh;
      text-align: justify;

      &#home {
        @extend .flex;
        justify-content: center;
        align-items: center;
      }
    }

    .flex {
      @media screen and (min-width: 992px) {
        display: flex;
      }
    }

    #home {
      background: $background-color;
    }

    .sass {
      background: $color-sass;
    }

    .bootstrap {
      background: $color-bootstrap;
    }

    .grunt {
      background: $color-grunt;
    }

    .docker {
      background: $color-docker;
    }

    .gulp {
      background: $color-gulp;
    }

    .flex-section {
      @extend .flex;
      justify-content: space-around;
      align-items: center;
      @media screen and (min-width: 992px) {
        & > div {
          width: 50%;
        }

        .image {
          display: flex;
          justify-content: center;
        }

        img {
          width: 55%;
          max-height: 62vh;
        }
      }
    }
  }

  .btn-sass {
    @include btn(darken($color-sass, 30%), white);
  }

  .btn-bootstrap {
    @include btn(darken($color-bootstrap, 30%), white);
  }

  .btn-grunt {
    @include btn(darken($color-grunt, 30%), white);
  }

  .btn-docker {
    @include btn(darken($color-docker, 30%), white);
  }

  .btn-gulp {
    @include btn(darken($color-gulp, 30%), white);
  }
}